<!DOCTYPE html>
<html lang="en">
<head>
  <title>Mini Project</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
 <style>
  body{
  background:url("/static/images/banner/b9.jpg") no-repeat  fixed;
  background-size:cover;

  }

</style>

<body>

<nav class="navbar navbar-inverse" style="
    background-color:transparent;
    border-color: transparent;">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/" style="color:white;">The Green House 🌱</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/" style="color:white;">Home</a></li>
      <li><a href="/register" style="color:white;">Users</a></li>
        <li><a href="/adminreg" style="color:white;">Distributors </a></li>
      <li><a href="/contact" style="color:white;">Contact Us</a></li>
    </ul>
  </div>

</nav>

<div style="margin-top:12%">
    <center>
          <p style="color:black;font-size:5vw;">The Green House 🌱</p>
          <p style="color:black;font-size:2.3vw;margin-top:-1%" class="lead">
           A Best Place to Buy & Sell Plants and Flowers !!
          </p>
    <button type="button" class="btn btn-success" style="height:50px;background-color:transparent;color:black;border-color:black;"><b>“Don’t spoil the scenery by destroying the greenery. Save Mother Earth.”</b></button>
  </center>

</div>
</body>
</html>